{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block body %}
<div class="container">
    <h1 class="fw-bold text-center mt-5">Login In <svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg></h1>
    <hr>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="card mb-3 w-75 mx-auto">
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
            {% endif %}
            <div class="card-body">
                <div class="container">
                    {% for fm in form %}
                    <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                    {% endfor %}
                    <a href="{% url 'password_reset'%}" class="fw-bold text-primary">Forgot Password ?</a><br>
                    <br>    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary text-center">Login</button>
                    </div><br>
                </div>
                <div class="text-center text-primary fw-bold"><small>New to BurhaniMart ? <a href="{% url 'signup' %}" class="text-success fw-bold">Create An Account</a> </small></div>
            </div>
            </div>
        </div>
        <p class="text-center">By continuing, you agree to <span class="fw-bold font-monospace">BurhaniMart</span> <span class="fw-bold"> <a href="#" class="text-decoration-none"> Terms of Service</a></span> and <span class="fw-bold "><a href="#" class="text-decoration-none"> Privacy Policy</a>.</span></p>
    </form>
    <hr>
</div>
{% endblock body %}