{% extends 'base.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}
{% block body %}
<div class="container">
      <h1 class="fw-bold text-center mt-5 font-monospace">Forgot Password</h1>
      <h3 class="text-center mt-4 font-monospace">No Problem!</h3>
      <h5 class="text-center font-monospace"> Enter your <span class="fw-bold text-red font-monospace">Email ID</span> below and we will send you an email with instruction to reset your password.</h5>
    <hr>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="card mb-3 w-50 offset-sm-3">
            <div class="card-body">
                <div class="container">
                    {% for fm in form %}
                    <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                    {% endfor %}
        
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary text-center">Send Reset Link</button>
                  </div><br>
                </div>
                <p class="text-center font-monospace"><a href="{% url 'login'%}" class=" text-decoration-none">Back to Login</a></p>
            </div>
            </div>
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
    <hr>
</div>
{% endblock body %}