{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block body %}
<div class="container">
      <h1 class="fw-bold text-center mt-5 font-monospace">Change Password</h1>
    <hr>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <div class="card mb-3 w-50 offset-sm-3">
            <div class="card-body">
                <div class="container">
                    {% for fm in form %}
                    <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                    {% endfor %}
        
                    <button type="submit" class="btn btn-primary font-monospace">Change Password</button>
                </div><br><br>
            </div>
            </div>
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
    <hr>
</div>
{% endblock body %}