{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block body %}
<div class="container">
      <h1 class="fw-bold text-center mt-5 font-monospace">Reset Link Sent Successfully</h1>
    <hr>
                <div class="container">
                   <img src="{% static 'gif/password_reset_complete.gif' %}" class="mx-auto d-block" alt="Reset Password Change Successfully"><br><br>
                   <h4 class="text-center">If provided Email is a registered Email ID on <span class="fw-bold">BurhaniMart</span> ,</h4>
                   <h4 class="text-center">you will receive an email with further instructions on how to reset your password.</h4>
                   <h4 class="text-center"> In case you didn't receive this email, you need to create a new account <a href="{% url 'signup'%}">here</a>.</h4>
                </div>      
    <hr>
</div>
{% endblock body %}