{% extends 'base.html' %}
{% load static %}
{% block title %}Password Change Successfully{% endblock title %}
{% block body %}
<div class="container">
      <h1 class="fw-bold text-center mt-5 font-monospace">Password Change Successfully</h1>
    <hr>
       
                <div class="container">
                   <img src="{% static 'gif/password_reset_complete.gif' %}" class="mx-auto d-block" alt="Password Change Successfully"><br><br>
                </div>
        
            <p class="text-center font-monospace fs-5"><a href="{% url 'login'%}" class=" text-decoration-none">Back to Login</a></p>

       
    <hr>
</div>
{% endblock body %}